body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1479030160180-b1860951d696?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjZ8fG5hdHVyZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=700&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    size: 30px;
    font-size: xx-large;
}

.Clock{
    display: flex;
}

.Clock div{
    margin: 5px;
    position: relative;
}

.Clock span{
    width: 100px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    opacity: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}


.Clock .text{
    height:  30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 99%;
}

.Clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
}

.welcome div {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    size: 30px;
    font-size: xx-large;
}